extends  ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros",  style="border-radius: 10px;")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend vulputate ipsum, in scelerisque lorem mattis eleifend. Vestibulum posuere ultricies euismod. Sed nec justo commodo, condimentum enim vitae, venenatis turpis. In sed enim facilisis metus porta elementum nec ut nisi. Phasellus a pellentesque nisi. Sed viverra porta leo, et molestie erat sodales et. Nulla in ante vel magna lobortis volutpat. Aliquam ultrices blandit lacus a facilisis. Integer quis metus a mauris feugiat faucibus. In hac habitasse platea dictumst. Nullam sed leo ut nisl iaculis facilisis vel vitae elit. Nullam sit amet eros non ligula consectetur rutrum. Aliquam accumsan libero sed nulla egestas, blandit cursus ex consectetur. Nulla nec elit dolor.

                p Vestibulum ac sollicitudin odio, non gravida ex. Donec vitae dolor nisl. Morbi non massa odio. Integer tempus ac risus eget pulvinar. Proin efficitur, mi vitae sodales facilisis, magna odio dictum leo, quis tincidunt elit quam sit amet ante. Vestibulum at blandit dui, vel faucibus lectus. Nunc luctus tellus velit, at pharetra tellus tristique et. Etiam at accumsan mi. 
                p Vestibulum ac sollicitudin odio, non gravida ex. Donec vitae dolor nisl. Morbi non massa odio. Integer tempus ac risus eget pulvinar. Proin efficitur, mi vitae sodales facilisis, magna odio dictum leo, quis tincidunt elit quam sit amet ante. Vestibulum at blandit dui, vel faucibus lectus. Nunc luctus tellus velit, at pharetra tellus tristique et. Etiam at accumsan mi.
                
    .listado-iconos
        .container.mt-5.py5.text-center
            .row
                .col-md-4  
                    img(src="img/icono_seguridad.svg", class="img-fluid")
                    h2.mb-4 Seguridad
                    p Nuestras excursiones cuentan con los mejores estandares de calidad y seguridad del mercado, grantizando la integridad de nuestros soñadores.
                .col-md-4  
                    img(src="img/icono_destinos.svg", class="img-fluid")
                    h2.mb-4 Destinos 
                    p Los mejores destinos alrededor del país, asegurando experiencias epicas que conservaras en tus recuerdos por mucho tiempo.
                .col-md-4  
                    img(src="img/icono_precios.svg", class="img-fluid")
                    h2.mb-4 Precios
                    p Precios al alcance de tus sueños, para que puedas disfrutar con tu familia de una experiencia inolvidable.  

    